body{
    text-align:center;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.5em;
    padding-top:20px;
}

#HiddenWord{
    padding-left:1em;
    letter-spacing:1em;
    line-height:1.5em;
}

#dogbanner{
    width:40%;
}

#CallToAction{
    padding:20px;
}

table{
    width:100%;
    line-height: 2em;
    font-weight: bold;
}

th, td{
    width:33%;
    border:1px solid black; /* while testing */
}

.bigtext{
    font-size:1.5em;
    line-height:2em;
}

.withborders{
    border:1px solid black;
}

#guessedDog{
    width:120px;
    height:90px;
    margin:auto;
    text-align:center;
}