body{
    text-align:center;
}

h1{
    font-size:2em;
}

h2{
    font-size:1.5em;
    padding-top:20px;
}

#HiddenWord{
    padding-left:1em;
    letter-spacing:1em;
}

#dogbanner{
    width:50%;
}

#CallToAction{
    padding:20px;
}

table{
    width:100%;
    line-height: 2em;
    font-weight: bold;
}
th, td{
    width:33%;
}
.bigtext{
    font-size:1.5em;
}
.withborders{
    border:1px solid black;
}

